body{
    background-color:#dfe8f7;
    color: #040d13;
}

details{
  display: flex;
  flex-direction: column;
}

summary:hover{
  cursor: pointer;
}

.project {
    width: 75%;
    margin: auto;
}

.codeContent {
  position: relative;
  margin: auto;
  width: 75%
}

.editor { 
    position: relative;
    margin: auto;
    height: 500px;
}

iframe{
  position: relative;
  margin: auto;
  width: 75%;
  height: 400px;
  
}

.expandProject {
  overflow: hidden;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.expandProject:hover{
  color: #ccc;
}

.closeProject {
  cursor:pointer;
  float: right;
  font-size: 20px;
  padding: 10px 15px;
}

.closeProject:hover{
  color: blue;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
  
  /* Create an active/current tablink class */
  .active, button:hover{
    background-color:#ddd;
  }

  .dot-flashing {
    position: relative;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #feffff;
    color: #feffff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #feffff;
    color: #feffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #feffff;
    color: #feffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #feffff;
    }
    50%, 100% {
      background-color: rgba(225, 225, 225, 0.2);
    }
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfdff;
  }

  .logo{
    margin-left: 25px;
  }

  ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  li{
    margin-right: 25px;
  }
  
  summary{
    display: absolute;
  }
  summary:hover{
    color: #44ce71;
  }

  details{
    display: absolute;
  }


  a{
    color: #040d13;
    text-decoration: none;
  }

  a:hover{
    color: #44ce71;
  }

  .section-divider {
    display: block;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #d3dae2;
  }


  details{
    text-decoration: none;
    animation: fadeDropdown 0.2s; /* required for the fade animation */
  }

  ::marker{ display:none; } summary{ list-style: none }
  
  @keyframes fadeDropdown {
      0% {
          opacity: 0;
      }
  
      100% {
          opacity: 1;
    }
  }