body{
    background-color: gray;
}

.project {
    width: 75%;
    margin: auto;
}

.codeContent {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.editor { 
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 500px;
}

.expandProject {
  overflow: hidden;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.expandProject:hover{
  color: #ccc;
}

.closeProject {
  cursor:pointer;
  float: right;
  font-size: 20px;
  padding: 10px 15px;
}

.closeProject:hover{
  color: blue;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:#ccc;
  }