body{
    background-color: gray;
}
#project{
    width: 50%;
    margin: auto;
}

#editor { 
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 500px;
}