/* General styling */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #252525;
    padding-top: 150px;
    margin: 0;
    align-items: center;
}
p{
    margin-left: 25px;
    margin-right: 25px;
}

/* Styling details element & creating classes to animate the opening/closing of details element */
details{
    background-color: aliceblue;
    margin: auto;
    overflow-y: hidden;
    transition: all .75s ease;
    width: 20%;
}

.grow{
    width: 50%;
    animation: .75s forwards grow;
}
@keyframes grow {
    from{
        height: 40px;
    }
    to{
        height: 200px;
    }
}
.shrink{
    animation: .75s forwards shrink;
}
@keyframes shrink {
    from{
        height: 200px;
    }to{
        height: 40px;
    }
}

/* Styling of the summary element & creating puesdo elements to change content */
summary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    list-style: none;
    height: 40px;
    transition: all .5s ease;
}
details summary::-webkit-details-marker { display:none; 
}

summary:hover{
    background-color: #252525d0;
    color: aliceblue;
    cursor: pointer;
}
details summary:after{
    content: "View";
    padding: 10px;
    font-size: 20px;
    transition: all .25s ease;
}

details[open] summary{
    box-shadow: 0 3px 5px #252525;
    background-color: #252525;
}
details[open] summary:after{
    content: "Collapse";
    color: aliceblue;
}
details[open] summary:hover{
    background: #252525d0;
}